<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.duo.bai.cheng.web.admin.dao.ProductDao">
    <sql id="ProductColumns">
        a.pid,
        a.pname,
        a.ptype,
        a.startprice,
        a.time,
        a.returnrate,
        a.created
    </sql>
    <select id="count" resultType="java.lang.Integer">
        SELECT count(*) FROM licai_product AS a
    </select>
    <select id="findAll" resultType="Product">
        SELECT
        <include refid="ProductColumns"/>
        FROM
        licai_product AS a
    </select>
    <select id="selectById" resultType="Product">
        SELECT
        <include refid="ProductColumns"/>
        FROM
        licai_product as a WHERE a.pid=#{pid}
    </select>
    <select id="findAllByType" resultType="Product">
        SELECT
        <include refid="ProductColumns"/>
        FROM
        licai_product AS a
        WHERE
        a.ptype=#{ptype}
    </select>

    <select id="findAllByCreated" resultType="Product">
        SELECT
        <include refid="ProductColumns"/>
        FROM
        licai_product AS a
        WHERE a.ptype=0
        ORDER BY
        created DESC
        LIMIT 4
    </select>
    <delete id="deleteById">
        DELETE FROM licai_product WHERE pid = #{pid}
    </delete>
    <select id="findAllByReturnrate" resultType="Product">
        SELECT
        <include refid="ProductColumns"/>
        FROM
        licai_product AS a
        WHERE a.ptype=0
        ORDER BY
        returnrate DESC
        LIMIT 4
    </select>
    <select id="findAllByTypeAndId" resultType="Product" parameterType="java.util.Map">
        SELECT
        <include refid="ProductColumns"/>
        FROM
        licai_product AS a
        WHERE
        a.ptype=#{ptype} and
        a.pid=#{pid}
    </select>
    <update id="update">
        UPDATE
          licai_product
        SET
          pname=#{pname},
          ptype=#{ptype},
          startprice=#{startprice},
          time=#{time},
          returnrate=#{returnrate},
          created=#{created}
        WHERE
          pid = #{pid}
    </update>

    <insert id="insert">
        INSERT INTO licai_product (
        pname,
        ptype,
        startprice,
        time,
        returnrate,
        created
        )
        VALUES
          (
          #{pname},
          #{ptype},
          #{startprice},
          #{time},
          #{returnrate},
          #{created}
          )
    </insert>
    <delete id="deleteNotices">
        DELETE FROM licai_product
        WHERE pid IN
        <foreach collection="array" open="(" close=")" separator="," item="pid">
            #{pid}
        </foreach>
    </delete>
</mapper>